.nav-arrows {
  position: fixed;
  top: 20px;
  right: 100px;
  display: flex;
  gap: 10px;
  z-index: 9000;
}

.nav-arrows button {
  background: #eee;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-arrows button:hover {
  background: #ddd;
}
