@import "./Variables.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--background-alt);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
}
